<!-- resources/js/components/ProductComponent.vue -->

<template>

    <div class="container mx-auto px-4 my-8">

        <div class="grid grid-cols-2">
            <h1 class="text-3xl font-semibold mb-4">Produtos</h1>

            <!-- Botão para adicionar um novo produto -->
            <button
                v-if="!produtoCriando"
                @click="iniciarCriacao"
                class=" bg-blue-400 font-bold uppercase text-sm text-white mb-4 px-8 py-2 rounded-md hover:bg-blue-600" >Adicionar</button>

        </div>
        <!-- Se estiver carregando, exibe a mensagem de carregamento -->
        <div v-if="formLoading" class="loading-overlay">
            <p class="text-gray-500">Carregando...</p>
        </div>

        <div v-if="fatalError" class="bg-red-50 p-4 rounded-lg mb-4 text-xs">{{ fatalError}}</div>

        <div class="clearfix"></div>

        <div v-if="!produtoEditando">

            <!--
                Formulário de criação
             -->
            <form
                v-if="produtoCriando"
                @submit.prevent="adicionarProduto"
                class="mb-6">

                <h2 class="text-lg font-semibold mb-2">Adicionar Produto</h2>

                <div class="pb-3 text-sm text-gray-600">Informe o nome, descrição e o preço do produto.</div>

                <!-- Input Nome -->
                <div >
                    <label for="create_name" class="block text-sm font-medium text-gray-600">Nome:</label>
                    <input type="text" id="create_name" v-model="novoProduto.name" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    <div v-if="typeof formErrors.name !=='undefined'">
                        <div class="text-red-400 text-xs font-bold" v-for="error in formErrors.name">
                            {{ error }}
                        </div>
                    </div>
                </div>

                <!-- Input Description -->
                <div class="mt-4">
                    <label for="create_description" class="block text-sm font-medium text-gray-600">Descrição:</label>
                    <input type="text" id="create_description" v-model="novoProduto.description" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    <div v-if="typeof formErrors.description !=='undefined'">
                        <div class="text-red-400 text-xs font-bold" v-for="error in formErrors.description">
                            {{ error }}
                        </div>
                    </div>

                </div>

                <!-- Input Price -->
                <div class="mt-4">
                    <label for="create_price" class="block text-sm font-medium text-gray-600">Preço:</label>
                    <input type="text" id="create_price" v-model="novoProduto.price" required
                           class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    <div v-if="typeof formErrors.price !=='undefined'">
                        <div class="text-red-400 text-xs font-bold" v-for="error in formErrors.price">
                            {{ error }}
                        </div>
                    </div>
                </div>


                <!-- Card Footer -->
                <div class="mt-4">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600">Adicionar Produto</button>
                    <button @click="cancelarCriacao" class="ml-2 bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600">Cancelar</button>
                </div>

            </form>

            <!--
                Listagem simples de produtos
             -->
            <ul v-if="!produtoCriando">
                <li v-for="produto in produtos" :key="produto.id" class="mb-2 border p-4 rounded-md grid md:grid-cols-4 gap-3 hover:bg-gray-50 transition-all">
                    <div class="col-span-2">
                        <div class="font-semibold">{{ produto.name }}</div>
                        <div class="text-gray-500 text-sm"> {{ produto.description }} </div>
                    </div>
                    <div>
                        <div class="font-semibold text-xs">Preço</div>
                        R$ {{ produto.price }}
                    </div>
                    <div class="text-right">
                        <button @click="iniciarEdicao(produto)" class="ml-2 bg-gray-400 font-bold text-sm uppercase text-white px-4 py-2 rounded-md hover:bg-gray-800">Editar</button>
                    </div>
                </li>
            </ul>
        </div>

        <!--
            Formulário de edição
        -->
        <div v-if="produtoEditando" >

            <h2 class="text-lg font-semibold mb-2">Editar Produto</h2>

            <div class="pb-3 text-sm text-gray-600">Informe o nome, descrição e o preço do produto.</div>

            <form @submit.prevent="salvarEdicao">

                <label for="edit_name" class="block text-sm font-medium text-gray-600">Nome:</label>
                <input type="text" id="edit_name" v-model="produtoEditando.name" required
                       class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                <div v-if="typeof formErrors.name !=='undefined'">
                    <div class="text-red-400 text-xs font-bold" v-for="error in formErrors.name">
                        {{ error }}
                    </div>
                </div>

                <label for="edit_description" class="block text-sm font-medium text-gray-600 mt-4">Descrição:</label>
                <input type="text" id="edit_description" v-model="produtoEditando.description" required
                       class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                <div v-if="typeof formErrors.description !=='undefined'">
                    <div class="text-red-400 text-xs font-bold" v-for="error in formErrors.description">
                        {{ error }}
                    </div>
                </div>

                <label for="edit_price" class="block text-sm font-medium text-gray-600 mt-4">Preço:</label>
                <input type="text" id="edit_price" v-model="produtoEditando.price" required
                       class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:ring focus:border-blue-300">
                <div v-if="typeof formErrors.price !=='undefined'">
                    <div class="text-red-400 text-xs font-bold" v-for="error in formErrors.price">
                        {{ error }}
                    </div>
                </div>

                <div class="mt-4">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600">Salvar Produto</button>
                    <button @click="cancelarEdicao" class="ml-2 bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600">Cancelar</button>
                    <button type="button" @click="excluirProduto(produtoEditando.id)" class="bg-red-100 text-red-600 ml-2 px-4 float-right py-2 rounded-md hover:bg-red-600 hover:text-white">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import axios from 'axios';

export default {

    data() {
        return {
            formLoading: false,
            formErrors: [],
            fatalError: null,
            novoProduto: {
                name: '',
                description: '',
                price: ''
            },
            produtos: [],
            produtoCriando: null,
            produtoEditando: null,
        };
    },
    mounted() {
        this.carregarProdutos();
    },
    methods: {

        iniciarCriacao(){
            this.produtoCriando = true;
            this.produtoEditando = null;
        },

        ativarLoading(){
            this.formLoading = true;
        },

        desativarLoading() {
            this.formLoading = false;
        },

        cancelarCriacao(){
            this.produtoCriando = false;
            this.carregarProdutos();
        },

        cancelarEdicao() {
            this.produtoEditando = null;
            this.carregarProdutos();
        },

        limpezaFormulario(){
            this.novoProduto = { name: '', description: '', price: '' };
        },

        limpezaErros(){
            this.formErrors = [];
            this.fatalError = null;
        },


        // Carregar produtos da API
        async carregarProdutos() {

            this.ativarLoading();

            // Consulta de produtos
            const response = await axios.get('/api/products')
                .finally(() => {
                    this.desativarLoading();
                });

            this.produtos = response.data;

        },

        // Ação para adicionar um novo produto
        async adicionarProduto() {

            this.limpezaErros();
            this.ativarLoading();

            // Criação de um novo produto
            await axios.post('/api/products', this.novoProduto)
                .then(response => {

                    this.limpezaFormulario();
                    this.cancelarCriacao();
                    this.carregarProdutos();

                }).catch(error => {
                    // Error fatal
                    if( typeof error.response.data.error !== 'undefined' ) {
                        this.fatalError = error.response.data.error;
                    }

                    // Erros do formulário
                    if( typeof error.response.data.errors !== 'undefined' ) {
                        this.formErrors = error.response.data.errors;
                    }

                })
                .finally(() => {
                    this.desativarLoading();
                });

        },

        // Ação para carrerar o formulário de edição
        async iniciarEdicao(produto) {

            // Injetando diretamente o objeto no formulário
            //this.produtoEditando = { ...produto };

            this.ativarLoading();

            await axios.get(`/api/products/${produto.id}`)
                .then(response => {
                    this.produtoEditando = response.data;

                }).catch(error => {

                    // Erros do formulário
                    if( typeof error.response.data.errors !== 'undefined' ) {
                        this.formErrors = error.response.data.errors;
                    }

                    // Error fatal
                    if( typeof error.response.data.error !== 'undefined' ) {
                        this.fatalError = error.response.data.error;
                    }

                }).finally(() => {
                    this.desativarLoading();
                });

        },

        // Ação para salvar os dados do produto na API
        async salvarEdicao() {

            this.ativarLoading();
            this.limpezaErros();

            await axios.put(`/api/products/${this.produtoEditando.id}`, this.produtoEditando)
                .then(response => {

                    this.limpezaFormulario();
                    this.cancelarEdicao();
                    this.carregarProdutos();

                }).catch(error => {

                    // Erros do formulário
                    if( typeof error.response.data.errors !== 'undefined' ) {
                        this.formErrors = error.response.data.errors;
                    }

                    // Error fatal
                    if( typeof error.response.data.error !== 'undefined' ) {
                        this.fatalError = error.response.data.error;
                    }

                    this.desativarLoading();

                })
        },

        // Ação para excluir um produto
        async excluirProduto(produtoId) {
            this.ativarLoading();
            await axios.delete(`/api/products/${produtoId}`)
                .then(response => {
                    this.limpezaFormulario();
                    this.cancelarEdicao();
                    this.carregarProdutos();
                }).catch(error => {
                    this.fatalError = error.response.data.error;
                });
        },

    }
};
</script>

<style scoped>

.clearfix { clear: both; }

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
}
</style>
